---
import '../styles/global.css';
import Header from '../components/Header.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';

const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true}));

const pageTitle = "Blogs";
---

<BaseLayout pageTitle="Blogs Page">
	<h2>Blogs</h2>
	<ul>
		{allPosts.map((post:any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
	</ul>
</BaseLayout>